html {
    color: whitesmoke;
    background: linear-gradient(blue,purple);
}
.header {
    padding: 10px;
    margin: -20px;
    height: 500px;
    width: 100%;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #16FF00;
    font-size: 50px;
    text-align: center;
    padding: 60px;
    margin-top: 80px;
    margin-bottom: -20px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4, a {
    font-size: 25px;
    color: #FFD93D;
}


p {
    font-size: 20px;
}

#top-subheader {
    position: relative;
    left: 60px;
    top: 60px;
}

#bottom-subheader, #freelance-title, #contact-button, #body-contact{
    text-align: center;
}

.img-container {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 250px;
    border-radius: 25%;
}

.resume-container {
    width: 600px;
    margin: auto;
    text-align: center;
}

.experience-flex {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    text-align: center;
    padding: 200px;
}

.experience-flex > div {
    padding-left: 50px;
    padding-right: 50px;
}

#skills {
    padding-top: 30px;
}

#work {
    padding-top: 100px;
}

#ed {
    padding-top: 100px;
}

#freelance {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
}

.freelance-button {
    height: 200px;
    width: 400px;
    border-radius: 8%;
    border: 2px solid black;
}

#cleaning-img {
    background: url("./Assets/images/cleaning.jpg");
    background-size: 100%;
    background-size: auto;
}

#painting-img {
    background: url("./Assets/images/kitchen.jpg");
    background-size: 100%;
    background-size: none;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 80px;
    margin-top: 50px;
}

#contact-button {
    height: 50px;
    width: 150px;
    border-radius: 8%;
    background-color: turquoise;
    border: 2px solid black;
    padding-bottom: 90px;
}

#contact-color {
    color: black;
}

footer {
    text-align: center;
    padding: 20px;
}